<div class="navbar">
    <div class="logo-area">
        <a class="nav-toggle pp-nav-toggle" href="javascript:void(0);" onclick="action_sidebar()"><i></i></a>
    </div>
    <ul class="right-area">
        <li class="section">
            <a class="navbar-icon" href="#">
                <div class="search">
                    <i class="zmdi zmdi-search zmdi-hc-fw"></i>
                </div>
            </a>
            <div class="subsection" style="margin-left: 2em">
                <form enctype="multipart/form-data" method="post">
                    <div class="search_form">
                        <div class="input-form">
                            <label>Wyszukaj</label> <input name="_steam_id" placeholder="Nick / STEAM_1:1:390..." type="text" value="">
                        </div><input class="btn no_steam" name="btn_search" type="submit" value="Szukaj">
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>